/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html{
    scroll-behavior:smooth;
}

body{
    background-color: #0e0e0e;
}

/*Barra de Scroll*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #0fa5d3bd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0fa5d3bd;
}

.navbar{
    width:100%;
    float: none;
    border: none;
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -4px;
    position: sticky;
    list-style: none;
    display: inline-flex;
    background: #071838;
}

.navbar .navbar-brand img{
    width: 40%;
}

.navbar-expand-xxl{
    width: 100%;
}

.nav-item a{
    margin: 0px 10px;
    color: aliceblue;
    text-decoration: none;    
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.nav-item a:hover{
    color: rgb(0, 204, 255);
}

.navbar .navbar-toggler{
    background-color: white;
}

.justify-content-end{
    margin-right: 0px;
} 

.cover{
    display: flex;
    width: 100%;
    color: #fff;
    min-height: 810px;
    background: url("/assets/img3.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.col-8{
    margin-top: 20%;
}

.col-8 h1{
    color: white;
    font-size: 47pt;
    text-align: left;
    font-weight: 400;
    font-family: 'Poppins';
}

.col-8 span{
    font-weight: 600;
    color: rgb(0, 255, 64);
    text-transform: uppercase;
}

.col-8 p{
    color: white;
    text-align: left;
    font-size: 15pt;
    font-family: 'Questrial';
}

.col-4{
    margin-right: 0%;
}

.col-4 img{
    margin-top: 40%;
    width: 100%;
}

@keyframes scroll {
	0% { transform: translateX(0); 
    }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 90%;
}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
    .paragraph{
        color: white;
        font-size: 20pt;
        font-family: 'Questrial';
    }

    .col{
        color: yellowgreen;
    }

    section .container-xxl{
        padding: 6%;
    }

    .col-md-8 .card-body{
        text-align:justify;
    }

    .col-md-8 .card-title{
        font-weight: bold;
        color: rebeccapurple;
        /*text-transform: uppercase;*/
    }

    .col-md-8 .card-text{
        color: black;
    }

    .col .col-md-4 img{
        width: 100%;
        margin-top: 30%;
    }

    button a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    button{
        width: 30%;
        padding: 16px;
        margin-top: 25px;
        font-weight: bold;
        border-radius: 30px;
        letter-spacing: 1.4px;
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: 0.4s;
        border: 2px solid #071838;
        background-color: transparent;
    }

    button:hover{
        background-color: #071838;
    }

    a:hover{
        color: #FFF;
    }

@media (max-width: 540px){

    .navbar .container-xxl{
        width: 100%;
    }

    .navbar .navbar-brand{
        width: 50%;
    }

    .navbar .navbar-brand img{
        width: 80%;
    }

    .navbar .btn-outline-primary{
        margin-top: 20px;
        margin-right: 18px;
    }

    .col-8{
        width: 100%;
        margin-top: 50px;
    }

    .col-8 h1{
        color: white;
        font-size: 40pt;
        text-align: left;
        font-weight: 400;
        font-family: 'Poppins';
    }
    
    .col-8 span{
        font-weight: 600;
        color: rgb(0, 255, 64);
        text-transform: uppercase;
    }
    
    .col-8 p{
        color: white;
        text-align: left;
        font-size: 16pt;
        font-family: 'Questrial';
    }

    .col-4{
        width: 100%;
    }
    .col-4 img{
        width: 80%;
        margin-top: 100px;
    }

    .slider{
        width: 90%;
    }

    .paragraph{
        margin-top: 20%;
    }
    
    section .container-xxl{
        padding: 6%;
    }

    .col-xxl .card-body{
        text-align: left;
    }

    .col-xxl .mb-3 img{
        width: 20%;
    }
}